@using X.PagedList.Mvc;
@using X.PagedList;
@using MyBlog.Data;

@model MyBlog.Data.ShippingDetail

    @Html.AntiForgeryToken()
    <div class="cart-info-delivery">
        <div class="cart-info-delivery-inner">
            <div class="cart-info-delivery-block">
                <h1>1. Контактные данные</h1>
            </div>
            <div class="cart-info-delivery-block">
                <div class="cart-info-delivery-block-double">
                    <p>Имя</p>
                    @Html.TextBoxFor(x => x.Name, new { @class = "cart-inp" })
                 
                    
                </div>
                <div class="cart-info-delivery-block-double">
                    <p>Телефон</p>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "cart-inp" })
                </div>
                <div class="cart-info-delivery-block-double">
                    <p>Почта</p>
                    @Html.TextBoxFor(x => x.Mail, new { @class = "cart-inp" })
                   
                </div>
            </div>
            <div class="cart-info-delivery-block">
                <h1>2. Доставка</h1>
            </div>
            <div class="cart-info-del-block">
                <div class="cart-info-del-block-double">
                    <p>Адрес</p>
                    @Html.TextBoxFor(x => x.Address, new { @class = "cart-inp-del" })
                </div>
                <div class="cart-info-del-block-double">
                    <p>Комментарий</p>
                    @Html.TextAreaFor(x => x.Comment, new { @rows = "10", @class = "cart-inp-del cart-inp-comment" })
                </div>
            </div>
            <div class="cart-info-delivery-block">
                <button type="submit" class="btn btn-black btn-large"><span>Оформить заказ</span></button>
            </div>
            <div class="form-policy">Нажимая на кнопку «Оформить заказ» вы соглашаетесь <br>с условиями оферты и <a href="/Page/Details/9004" target="_blank" class="link-black"><span>политикой конфиденциальности</span></a>.</div>
        </div>
    </div>


