@using X.PagedList.Mvc;
@using X.PagedList;
@using System.Configuration;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using Microsoft.AspNetCore.Razor.TagHelpers;
@using MyBlog.Data;

@model IPagedList<MyBlog.Data.Watch>
<style type="text/css" media="all">
    div.box {
        height: 50px;
        /* 				overflow: hidden; */
    }
</style>

<div class="catalog-items">
    <div class="catalog-items-inner">
        <div class="col-06">
            <div class="catalog-item">
                <div class="row MainPost">
                    <a href="@Url.Action("Details", "Watch", new { id = 6009 })">
                        <div class="ImagePostTitle">
                            <img src="@Html.Action("InsertWatchImg", "Watch", new { id = 6009 })" class="img-responsive watch-img" style="max-height: 325px; max-width: 260px; margin-left: auto; margin-right: auto;" />

                            @* <div class="Bannertext">@Model.Title</div>*@
                            <p class="BannerPostTitle truncateOpt" >@Html.Action("InsertWatchCompany", "Watch", new { id = 6009 }) @Html.Action("InsertWatchModel", "Watch", new { id = 6009 })</p>

                        </div>


                        <div class="watch-content">
                            <p>@Html.Action("InsertWatchPrice", "Watch", new { id = 6009 }) USD</p>
                        </div>
                        <div class="product-cut-button">
                            <a href="@Url.Action("Details", "Watch", new { id = 6009 })" class="watch-btn btn">Подробнее</a>
                        </div>
                    </a>
                    @* End of Post row *@
                </div>
            </div>
            <div class="catalog-item">
                <div class="row MainPost">
                    <a href="@Url.Action("Details", "Watch", new { id = 6010 })">
                        <div class="ImagePostTitle">
                            <img src="@Html.Action("InsertWatchImg", "Watch", new { id = 6010 })" class="img-responsive watch-img" style="max-height: 325px; max-width: 260px; margin-left: auto; margin-right: auto;" />

                            @* <div class="Bannertext">@Model.Title</div>*@
                            <p class="BannerPostTitle truncateOpt" >@Html.Action("InsertWatchCompany", "Watch", new { id = 6010 }) @Html.Action("InsertWatchModel", "Watch", new { id = 6010 })</p>

                        </div>


                        <div class="watch-content">
                            <p>@Html.Action("InsertWatchPrice", "Watch", new { id = 6010 }) USD</p>
                        </div>
                        <div class="product-cut-button">
                            <a href="@Url.Action("Details", "Watch", new { id = 6010 })" class="watch-btn btn">Подробнее</a>
                        </div>
                    </a>
                    @* End of Post row *@
                </div>
            </div>
            <div class="catalog-item">
                <div class="row MainPost">
                    <a href="@Url.Action("Details", "Watch", new { id = 6011 })">
                        <div class="ImagePostTitle">
                            <img src="@Html.Action("InsertWatchImg", "Watch", new { id = 6011 })" class="img-responsive watch-img" style="max-height: 325px; max-width: 260px; margin-left: auto; margin-right: auto;" />

                            @* <div class="Bannertext">@Model.Title</div>*@
                            <p class="BannerPostTitle truncateOpt" >@Html.Action("InsertWatchCompany", "Watch", new { id = 6011 }) @Html.Action("InsertWatchModel", "Watch", new { id = 6011 })</p>

                        </div>


                        <div class="watch-content">
                            <p>@Html.Action("InsertWatchPrice", "Watch", new { id = 6011 }) USD</p>
                        </div>
                        <div class="product-cut-button">
                            <a href="@Url.Action("Details", "Watch", new { id = 6011 })" class="watch-btn btn">Подробнее</a>
                        </div>
                    </a>
                    @* End of Post row *@
                </div>
            </div>
            <div class="catalog-item">
                <div class="row MainPost">
                    <a href="@Url.Action("Details", "Watch", new { id = 6012 })">
                        <div class="ImagePostTitle">
                            <img src="@Html.Action("InsertWatchImg", "Watch", new { id = 6012 })" class="img-responsive watch-img" style="max-height: 325px; max-width: 260px; margin-left: auto; margin-right: auto;" />

                            @* <div class="Bannertext">@Model.Title</div>*@
                            <p class="BannerPostTitle truncateOpt" >@Html.Action("InsertWatchCompany", "Watch", new { id = 6012 }) @Html.Action("InsertWatchModel", "Watch", new { id = 6012 })</p>

                        </div>


                        <div class="watch-content">
                            <p>@Html.Action("InsertWatchPrice", "Watch", new { id = 6012 }) USD</p>
                        </div>
                        <div class="product-cut-button">
                            <a href="@Url.Action("Details", "Watch", new { id = 6012 })" class="watch-btn btn">Подробнее</a>
                        </div>
                    </a>
                    @* End of Post row *@
                </div>
            </div>
        </div>
        <div class="col-06">
            <div class="catalog-cut-rgh">
                @Html.Action("InsertImage", "Image", new { id = 19043 })
                <div class="catalog-cut-info">
                    <h2>Стиль</h2>
                    <a href="" class="cut-btn btn">Каталог</a>
                </div>
            </div>
        </div>
    </div>
    <div class="catalog-items-inner">
        <div class="col-06">
            <div class="catalog-cut-rgh">
                @Html.Action("InsertImage", "Image", new { id = 19044 })
                <div class="catalog-cut-info">
                    <h2>Власть</h2>
                    <a href="" class="cut-btn btn">Каталог</a>
                </div>
            </div>
        </div>
        <div class="col-06">
            <div class="catalog-item">
                <div class="row MainPost">
                    <a href="@Url.Action("Details", "Watch", new { id = 6013 })">
                        <div class="ImagePostTitle">
                            <img src="@Html.Action("InsertWatchImg", "Watch", new { id = 6013 })" class="img-responsive watch-img" style="max-height: 325px; max-width: 260px; margin-left: auto; margin-right: auto;" />

                            @* <div class="Bannertext">@Model.Title</div>*@
                            <p class="BannerPostTitle truncateOpt" >@Html.Action("InsertWatchCompany", "Watch", new { id = 6013 }) @Html.Action("InsertWatchModel", "Watch", new { id = 6013 })</p>

                        </div>


                        <div class="watch-content">
                            <p>@Html.Action("InsertWatchPrice", "Watch", new { id = 6013 }) USD</p>
                        </div>
                        <div class="product-cut-button">
                            <a href="@Url.Action("Details", "Watch", new { id = 6013 })" class="watch-btn btn">Подробнее</a>
                        </div>
                    </a>
                    @* End of Post row *@
                </div>
            </div>
            <div class="catalog-item">
                <div class="row MainPost">
                    <a href="@Url.Action("Details", "Watch", new { id = 6014 })">
                        <div class="ImagePostTitle">
                            <img src="@Html.Action("InsertWatchImg", "Watch", new { id = 6014 })" class="img-responsive watch-img" style="max-height: 325px; max-width: 260px; margin-left: auto; margin-right: auto;" />

                            @* <div class="Bannertext">@Model.Title</div>*@
                            <p class="BannerPostTitle truncateOpt" >@Html.Action("InsertWatchCompany", "Watch", new { id = 6014 }) @Html.Action("InsertWatchModel", "Watch", new { id = 6014 })</p>

                        </div>


                        <div class="watch-content">
                            <p>@Html.Action("InsertWatchPrice", "Watch", new { id = 6014 }) USD</p>
                        </div>
                        <div class="product-cut-button">
                            <a href="@Url.Action("Details", "Watch", new { id = 6014 })" class="watch-btn btn">Подробнее</a>
                        </div>
                    </a>
                    @* End of Post row *@
                </div>
            </div>
            <div class="catalog-item">
                <div class="row MainPost">
                    <a href="@Url.Action("Details", "Watch", new { id = 6015 })">
                        <div class="ImagePostTitle">
                            <img src="@Html.Action("InsertWatchImg", "Watch", new { id = 6015 })" class="img-responsive watch-img" style="max-height: 325px; max-width: 260px; margin-left: auto; margin-right: auto;" />

                            @* <div class="Bannertext">@Model.Title</div>*@
                            <p class="BannerPostTitle truncateOpt" >@Html.Action("InsertWatchCompany", "Watch", new { id = 6015 }) @Html.Action("InsertWatchModel", "Watch", new { id = 6015 })</p>

                        </div>


                        <div class="watch-content">
                            <p>@Html.Action("InsertWatchPrice", "Watch", new { id = 6015 }) USD</p>
                        </div>
                        <div class="product-cut-button">
                            <a href="@Url.Action("Details", "Watch", new { id = 6015 })" class="watch-btn btn">Подробнее</a>
                        </div>
                    </a>
                    @* End of Post row *@
                </div>
            </div>
            <div class="catalog-item">
                <div class="row MainPost">
                    <a href="@Url.Action("Details", "Watch", new { id = 7009 })">
                        <div class="ImagePostTitle">
                            <img src="@Html.Action("InsertWatchImg", "Watch", new { id = 7009 })" class="img-responsive watch-img" style="max-height: 325px; max-width: 260px; margin-left: auto; margin-right: auto;" />

                            @* <div class="Bannertext">@Model.Title</div>*@
                            <p class="BannerPostTitle truncateOpt">@Html.Action("InsertWatchCompany", "Watch", new { id = 7009 }) @Html.Action("InsertWatchModel", "Watch", new { id = 7009 })</p>

                        </div>


                        <div class="watch-content">
                            <p>@Html.Action("InsertWatchPrice", "Watch", new { id = 7009 }) USD</p>
                        </div>
                        <div class="product-cut-button">
                            <a href="@Url.Action("Details", "Watch", new { id = 7009 })" class="watch-btn btn">Подробнее</a>
                        </div>
                    </a>
                    @* End of Post row *@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="catalog-new">
    <h1>Новинки</h1>
    <div class="catalog-new-inner">
        @foreach (var item in Model) { 
        <div class="catalog-item">
            <div class="row MainPost">
                <a href="@Url.Action("Details", "Watch", new { id = item.Id })">
                    <div class="ImagePostTitle">
                        <img src="@item.Image" class="img-responsive watch-img" style="max-height: 325px; max-width: 260px; margin-left: auto; margin-right: auto;" />

                        @* <div class="Bannertext">@Model.Title</div>*@
                        <p class="BannerPostTitle truncateOpt">@item.CompanyId @item.Model</p>

                    </div>


                    <div class="watch-content">
                        <p>@item.Price USD</p>
                    </div>
                    <div class="product-cut-button">
                        <a href="@Url.Action("Details", "Watch", new { id = item.Id })" class="watch-btn btn">Подробнее</a>
                    </div>
                </a>
                @* End of Post row *@
            </div>
        </div> 
        }
    </div>
</div>







@*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@


