@model MyBlog.Data.CartIndexViewModel

@{
    ViewBag.Title = "Корзина";
    string ord = "";
}
@*
    <h2>Корзина</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Кол-во</th>
                <th>Игра</th>
                <th class="text-right">Цена</th>
                <th class="text-right">Общая цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart.Lines)
            {
                <tr>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-left">@line.Watch.CompanyId @line.Watch.Model</td>
                    <td class="text-right">@line.Watch.Price USD</td>
                    <td class="text-right">
                        @((line.Quantity * int.Parse(line.Watch.Price)).ToString("# руб"))
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Итого:</td>
                <td class="text-right">
                    @Model.Cart.ComputeTotalValue().ToString("# руб")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
    </div>*@

<div class="cart-wrapper">
    <div class="cart-header">
        <h1>Корзина</h1>
        <a href="~/Home/Catalog/?sortOrder=NameAsc">Продолжить покупки</a>
    </div>
    <div class="cart-info">

        <div class="cart-info-inner">
            @foreach (var item in Model.Cart.Lines)
            {
                <div class="cart-info-top">
                    <img src="@item.Watch.Image" />
                    <p>@item.Watch.CompanyId @item.Watch.Model</p>
                    <div class="cart-info-top-double">
                        <p>Количество</p>
                        @item.Quantity
                    </div>
                    <div class="cart-info-top-double">
                        <p>Итого</p>
                        @((item.Quantity * item.Watch.Price).ToString("# USD"))
                    </div>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("Id", item.Watch.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                    }
                </div>
                ord +=item.Watch.CompanyId + " " + item.Watch.Model +" в количестве "+item.Quantity + "<br/>";
            }
            <div class="cart-info-bottom">
                <p>Всего:</p>
                <p>@Model.Cart.ComputeTotalValue().ToString("# USD")</p>
            </div>
        </div>
        @using (Html.BeginForm("AddNewOrder", "ShippingDetail", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            @Html.Action("CartShipping")
            <input id="Cart" name="Cart" type="hidden" value="@ord" />
        } 
    </div>
</div>