@model MyBlog.Data.Watch
@{
    ViewBag.Title = Model.Title;


}

<!--

<div class="container-fluid body-content-pages">
    <section class="container">
        <div class="col-md-12">
            <article class="post-preview">-->

                <header class="modal-title" style="margin-top:50px">
                    <h1>  @Model.Title </h1>
                </header>
                <hr />
                <p class="post-subtitle">
                    @Model.CompanyId
                </p>
                <p class="post-subtitle">
                    @Model.Content
                </p>
                <p class="post-subtitle">
                    @Model.Article
                </p>
                <p class="post-subtitle">
                    @Model.Country
                </p>
                <p class="post-subtitle">
                    @Model.Movement
                </p>
                <p class="post-subtitle">
                    @Model.Frame
                </p>
                <p class="post-subtitle">
                    @Model.Face
                </p>
                <hr />
                <footer class="post-meta">
                    
                   

                </footer>
            <!--</article>
            <hr>
        </div>
      
    </section>
   

</div>-->

