@model MyBlog.Data.Category

@{
    ViewBag.Title = "Улаление категории";
    Layout = "~/Views/Shared/_Dashbord.cshtml";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить эту категорию?</h3>
<div>
    <h4>Категория</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_time)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> 
            @Html.ActionLink("Назад к списку", "Index", "Post")
        </div>
    }
</div>
