@using Microsoft.AspNet.Identity
@using System.Configuration;

@{
    string _DisplayRegister = ConfigurationManager.AppSettings["DisplayRegister"];
}
@{
    string _DisplayFbWidget = ConfigurationManager.AppSettings["DisplayFbWidget"];
    string _DisplayTwWidget = ConfigurationManager.AppSettings["DisplayTwWidget"];
    string _WebsiteRoot = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
@if (Request.IsAuthenticated)

{
    
    @Html.Action("SearchView", "User")
    using (Html.BeginForm())
    {
            @Html.AntiForgeryToken()

            var identity = (HttpContext.Current.User as Hermodus.UI.Models.MyPrincipal).Identity as Hermodus.UI.Models.MyIdentity;


            int _Id = Convert.ToInt32(identity.User.UserId);


            @Html.Action("UserFormDetails", "User", new { Id = _Id })


        }

    }
else
{
<ul class="nav navbar-nav navbar-right">

    @Html.Action("SearchView", "User")
    <li><a href="~/Account/Login"> @Html.Action("InsertImage", "Image", new { id = 20053 })Войти</a></li>
</ul>

}