@using X.PagedList.Mvc;
@using X.PagedList;

@model IPagedList <MyBlog.Data.Text>

@{
    Layout = "~/Views/Shared/_Dashbord.cshtml";

}

<div class="panel panel-default">
    <div class="panel-heading">
        <div><span class="fa fa-text fa-2x" aria-hidden="true"></span> All Texts</div>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-condensed">
            <tr>
                <th>Text</th>
                <th>User</th>
                <th>Upload date</th>
                <th>Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-md-3">
                        <p class="truncateOpt" href="/Upload/@item.Texts">
                            <div class="CutlongTitle">
                                <p>@item.Texts</p>

                            </div>
                        </p>

                    </td>
                    <td class="col-md-2">
                        <a class="truncateOpt" href="~/User/Details/@item.UserId">
                            <div class="CutlongTitle">
                                @item.UserDetails.FName @item.UserDetails.LName

                            </div>
                        </a>

                    </td>
                    <td class="col-md-2">

                        <div>
                            @item.Create_time
                        </div>

                    </td>
                    <td class="col-md-2">

                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger glyphicon glyphicon glyphicon-trash" })
                    </td>
                </tr>
            }


        </table>



    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add a New Text", "NewPost", null, new { @class = "btn btn-default" })


    </div>@*End of Panel Footer*@
</div>
<div>
 @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>@*end of paging*@


