@model Hermodus.Data.Post

@{
    ViewBag.Title = "Удаление";
    Layout = "~/Views/Shared/_Dashbord.cshtml";

}


<h3>Вы уверены, что хотите удалить этот пост?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.Title)
        </dt>

        <dd>
          <h3>@Html.DisplayFor(model => model.Title)</h3>  
        </dd>

        <dt>
            @Html.HiddenFor(model => model.Post_Content)
        </dt>

        <dd>
            @Html.Raw( Model.Post_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update_time)
        </dt>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

      


            <div class="form-actions no-color">

                <input type="submit" value="Удалить" class="btn btn-danger" /> |
                @Html.ActionLink("Назад к списку", "Index", "Category")
            </div>
            }
        </div>
