@using Microsoft.AspNet.Identity
@model MyBlog.UI.Models.PostViewModel
@using System.Configuration;

@{
    ViewBag.Title = Model.Post.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _DisplayFBLogin = ConfigurationManager.AppSettings["DisplayFBLogin"];
    string _DisplaydisqusWidget = ConfigurationManager.AppSettings["DisplaydisqusWidget"];
    string _DisplayLocalCommentWidget = ConfigurationManager.AppSettings["DisplayLocalCommentWidget"];
    string _DisplayGoogleAdv = ConfigurationManager.AppSettings["DisplayGoogleAdv"];

}




<div class="container-fluid body-content-pages" >
    <div class="container">
        @if (TempData["message"] != null)
            {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Info!</strong> @TempData["message"]
            </div>

        }
    </div>
    <section class="container">
        <div class="col-md-12">
            <article class="post-preview" >
                
                    <header class="modal-title">
                      <h1>  @Model.Post.Title </h1>
                    </header>
                <hr />
                <p class="post-subtitle">
                    @Html.Raw(Model.Post.Post_Content)
                </p>
                <hr/>
                <footer class="post-meta">
                
                    <div>
                        @{


                            if (Request.IsAuthenticated)
                            {
                                var identity = (HttpContext.Current.User as MyBlog.UI.Models.MyPrincipal).Identity as MyBlog.UI.Models.MyIdentity;
                                int _RoleId = Convert.ToInt32(identity.User.RoleId);
                                if (_RoleId == 1 || _RoleId == 3)
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = Model.Post.PostId }, new { @class = "btn btn-primary glyphicon glyphicon-edit" })
                                    
                                }
                            }
                        }
                    </div>
                    
                    <br/>
                  

                </footer>
            </article>
            
            <hr>
        </div>
        
    </section>

    <section class="container">
        @Html.Partial("_CommnetByPost", Model.Comments)
    </section>
    <section class="container">
        <div class="col-md-12">


            @*Start Local Db Commnet*@
            <div style="display:@_DisplayLocalCommentWidget;">
                @if (Request.IsAuthenticated)

                {

                    @Html.Action("AddNewComment", "Comment", new { Model.Post.PostId })
                }
               
            </div>
            @*End Local Db Commnet*@
        </div>
    </section>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
     //to resize Images as img-reposive after erase inline css add new
  $(document).ready(function() {
      $('img').attr('style', 'max-width: 100%; height:auto;');

  });
        
    </script>


}

